@use "../../media-queries.scss" as m;

.summery {
  border-radius: .7rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-all);
  color: var(--clr-black);

  align-self: flex-start;
  margin-left: auto;
  width: 30rem;

  display: grid;
  gap: 1rem;

  h5 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  div {
    display: flex;
    justify-content: space-between;
    p:not(:last-child) {
      font-size: 1.4rem;
    }
  }

  &_total {
    border-bottom: 1px dashed var(--clr-text);
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
  }

  &_radio {
    margin-bottom: 1rem;
    div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    input {
      appearance: none;

      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;

      border: 2px solid #999;
      transition: 0.1s all linear;

      &:checked {
        border: .5rem solid var(--clr-primary);
      }
    }
  }

  button {
    color: var(--clr-white);
    font-size: 1.6rem;
  }

  @include m.respond-to(small) {
    width: 100%;
  }
}